<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header.ejs') -%>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<%#<link rel="stylesheet" type="text/css" href="/css/styles.css">%>
<body class="bg-light">
    <div class="container mt-5">
        <div class="row">
         
            <div class="col-lg-4 mx-auto mt-3">
                <div class="mb-5">
                     <a href="/" class="d-flex justify-content-center align-items-center  text-dark text-decoration-none">
                        <div class="my-logo fs-3 ">IOR</div>
                    </a>
                </div>
                <div class="card p-3">
                    <div class="text-center">
                          
                        <h3>Login</h3>
                        <form  id="form">
                            <div class="email text-start text-error"></div>
                            <div class="form-group">
                                <label for="email">Correo electr칩nico</label>
                                <input type="email" class="form-control" id="email" placeholder="correo@gmail.com" name="email">
                            </div>

                            <div class="password text-start text-error"></div>
                            <div class="form-group">
                                <label for="password">Contrase침a</label>
                                <input type="password" class="form-control" id="password" placeholder="Contrase침a" name="password">
                            </div>
                        <hr>
                        <div class="form-group">
                            <button class="w-100 btn btn-lg btn-outline-info mb-2" type="submit">Iniciar Sesi칩n</button>
                        </div>
                         
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') -%>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script>

    const form = document.querySelector('#form')

    form.addEventListener('submit', async (e) => {
        e.preventDefault()

        const emailError = document.querySelector('.email.text-error')
        const passwordError = document.querySelector('.password.text-error')

        emailError.textContent = ''
        passwordError.textContent = ''

        const email = form.email.value
        const password = form.password.value

        Array.from(form.elements).forEach(el => el.disabled = true)
        
        try {
            const res = await fetch('/login',{
                method: 'POST',
                body: JSON.stringify({email, password}),
                headers: { 'Content-Type': 'application/json' }
            })

            const data = await res.json()

        Array.from(form.elements).forEach(el => el.disabled = false)

            if(data.user) {
                location.assign('/dashboard')
            }

            if(data.errors) {
                emailError.textContent = data.errors.email
                passwordError.textContent = data.errors.password
            }

        } catch (error) {
            console.log(error)
        }
    })
</script>
</html>